In [10]:
from datetime import datetime, date, timedelta
import pandas as pd
import numpy as np

In [7]:
now = datetime.now()
timestamp = datetime.timestamp(now)

now.strftime('%y-%m-%d %H:%M:%S')

'21-01-16 16:58:17'

In [8]:
type(now)

datetime.datetime

In [12]:
# from string
d = date.fromisoformat('2021-01-01')

AttributeError: type object 'datetime.date' has no attribute 'fromisoformat'

In [13]:
# get week day 0=M 1=T etc
datetime.today().weekday()

5

In [14]:
# get week day 1=M 2=T etc
datetime.today().isoweekday()

6

In [1]:
# today's date
from datetime import date
today = date(2021,1,12)
today.isoformat()

'2021-01-12'

In [9]:
# calculate some days ago
from datetime import datetime, timedelta
ten_days_ago = datetime.now() - timedelta(10)
ten_days_ago.strftime('20%y-%m-%d')

'2021-01-03'

In [7]:
# is string a valid iso date format?
def datetime_valid(dt_str):
    try:
        datetime.fromisoformat(dt_str)
    except:
        return False
    return True

datetime_valid('2020-01-01') # true
datetime_valid('0020-01-01') # true

True

In [11]:
# I want to filter by time horizon
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html
start = datetime.now()
end = start + timedelta(400)
# print(start)
# print(end)
index = pd.date_range(start, end)
df = pd.DataFrame(np.arange(0, len(index),1), index=index)
df

                              0
2021-01-18 20:23:00.187456    0
2021-01-19 20:23:00.187456    1
2021-01-20 20:23:00.187456    2
2021-01-21 20:23:00.187456    3
2021-01-22 20:23:00.187456    4
...                         ...
2022-02-18 20:23:00.187456  396
2022-02-19 20:23:00.187456  397
2022-02-20 20:23:00.187456  398
2022-02-21 20:23:00.187456  399
2022-02-22 20:23:00.187456  400

[401 rows x 1 columns]

In [19]:
# now just filter first full year
one_year = datetime.now() + timedelta(364)
one_year_df = df[df.index < one_year]
one_year_df.shape

(365, 1)

In [22]:
# date index with duplicate dates
df1 = pd.concat([df, df], axis=0)
one_year = datetime.now() + timedelta(364)
one_year_df1 = df1[df1.index < one_year]
one_year_df1.shape

(730, 1)

In [33]:
np.arange(0, len(index),1)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400])

In [34]:
pd.date_range(start, end).values

array(['2021-01-18T20:23:00.187456000', '2021-01-19T20:23:00.187456000',
       '2021-01-20T20:23:00.187456000', '2021-01-21T20:23:00.187456000',
       '2021-01-22T20:23:00.187456000', '2021-01-23T20:23:00.187456000',
       '2021-01-24T20:23:00.187456000', '2021-01-25T20:23:00.187456000',
       '2021-01-26T20:23:00.187456000', '2021-01-27T20:23:00.187456000',
       '2021-01-28T20:23:00.187456000', '2021-01-29T20:23:00.187456000',
       '2021-01-30T20:23:00.187456000', '2021-01-31T20:23:00.187456000',
       '2021-02-01T20:23:00.187456000', '2021-02-02T20:23:00.187456000',
       '2021-02-03T20:23:00.187456000', '2021-02-04T20:23:00.187456000',
       '2021-02-05T20:23:00.187456000', '2021-02-06T20:23:00.187456000',
       '2021-02-07T20:23:00.187456000', '2021-02-08T20:23:00.187456000',
       '2021-02-09T20:23:00.187456000', '2021-02-10T20:23:00.187456000',
       '2021-02-11T20:23:00.187456000', '2021-02-12T20:23:00.187456000',
       '2021-02-13T20:23:00.187456000', '2021-02-14T20:23:00.187456000',
       '2021-02-15T20:23:00.187456000', '2021-02-16T20:23:00.187456000',
       '2021-02-17T20:23:00.187456000', '2021-02-18T20:23:00.187456000',
       '2021-02-19T20:23:00.187456000', '2021-02-20T20:23:00.187456000',
       '2021-02-21T20:23:00.187456000', '2021-02-22T20:23:00.187456000',
       '2021-02-23T20:23:00.187456000', '2021-02-24T20:23:00.187456000',
       '2021-02-25T20:23:00.187456000', '2021-02-26T20:23:00.187456000',
       '2021-02-27T20:23:00.187456000', '2021-02-28T20:23:00.187456000',
       '2021-03-01T20:23:00.187456000', '2021-03-02T20:23:00.187456000',
       '2021-03-03T20:23:00.187456000', '2021-03-04T20:23:00.187456000',
       '2021-03-05T20:23:00.187456000', '2021-03-06T20:23:00.187456000',
       '2021-03-07T20:23:00.187456000', '2021-03-08T20:23:00.187456000',
       '2021-03-09T20:23:00.187456000', '2021-03-10T20:23:00.187456000',
       '2021-03-11T20:23:00.187456000', '2021-03-12T20:23:00.187456000',
       '2021-03-13T20:23:00.187456000', '2021-03-14T20:23:00.187456000',
       '2021-03-15T20:23:00.187456000', '2021-03-16T20:23:00.187456000',
       '2021-03-17T20:23:00.187456000', '2021-03-18T20:23:00.187456000',
       '2021-03-19T20:23:00.187456000', '2021-03-20T20:23:00.187456000',
       '2021-03-21T20:23:00.187456000', '2021-03-22T20:23:00.187456000',
       '2021-03-23T20:23:00.187456000', '2021-03-24T20:23:00.187456000',
       '2021-03-25T20:23:00.187456000', '2021-03-26T20:23:00.187456000',
       '2021-03-27T20:23:00.187456000', '2021-03-28T20:23:00.187456000',
       '2021-03-29T20:23:00.187456000', '2021-03-30T20:23:00.187456000',
       '2021-03-31T20:23:00.187456000', '2021-04-01T20:23:00.187456000',
       '2021-04-02T20:23:00.187456000', '2021-04-03T20:23:00.187456000',
       '2021-04-04T20:23:00.187456000', '2021-04-05T20:23:00.187456000',
       '2021-04-06T20:23:00.187456000', '2021-04-07T20:23:00.187456000',
       '2021-04-08T20:23:00.187456000', '2021-04-09T20:23:00.187456000',
       '2021-04-10T20:23:00.187456000', '2021-04-11T20:23:00.187456000',
       '2021-04-12T20:23:00.187456000', '2021-04-13T20:23:00.187456000',
       '2021-04-14T20:23:00.187456000', '2021-04-15T20:23:00.187456000',
       '2021-04-16T20:23:00.187456000', '2021-04-17T20:23:00.187456000',
       '2021-04-18T20:23:00.187456000', '2021-04-19T20:23:00.187456000',
       '2021-04-20T20:23:00.187456000', '2021-04-21T20:23:00.187456000',
       '2021-04-22T20:23:00.187456000', '2021-04-23T20:23:00.187456000',
       '2021-04-24T20:23:00.187456000', '2021-04-25T20:23:00.187456000',
       '2021-04-26T20:23:00.187456000', '2021-04-27T20:23:00.187456000',
       '2021-04-28T20:23:00.187456000', '2021-04-29T20:23:00.187456000',
       '2021-04-30T20:23:00.187456000', '2021-05-01T20:23:00.187456000',
       '2021-05-02T20:23:00.187456000', '2021-05-03T20:23:00.187456000',
       '2021-05-04T20:23:00.187456000', '2021-05-05T20:23:00.187456000',
       '2021-05-06T20:23:00.187456000', '2021-05-07T20:23:00.187456000',
       '2021-05-08T20:23:00.187456000', '2021-05-09T20:23:00.187456000',
       '2021-05-10T20:23:00.187456000', '2021-05-11T20:23:00.187456000',
       '2021-05-12T20:23:00.187456000', '2021-05-13T20:23:00.187456000',
       '2021-05-14T20:23:00.187456000', '2021-05-15T20:23:00.187456000',
       '2021-05-16T20:23:00.187456000', '2021-05-17T20:23:00.187456000',
       '2021-05-18T20:23:00.187456000', '2021-05-19T20:23:00.187456000',
       '2021-05-20T20:23:00.187456000', '2021-05-21T20:23:00.187456000',
       '2021-05-22T20:23:00.187456000', '2021-05-23T20:23:00.187456000',
       '2021-05-24T20:23:00.187456000', '2021-05-25T20:23:00.187456000',
       '2021-05-26T20:23:00.187456000', '2021-05-27T20:23:00.187456000',
       '2021-05-28T20:23:00.187456000', '2021-05-29T20:23:00.187456000',
       '2021-05-30T20:23:00.187456000', '2021-05-31T20:23:00.187456000',
       '2021-06-01T20:23:00.187456000', '2021-06-02T20:23:00.187456000',
       '2021-06-03T20:23:00.187456000', '2021-06-04T20:23:00.187456000',
       '2021-06-05T20:23:00.187456000', '2021-06-06T20:23:00.187456000',
       '2021-06-07T20:23:00.187456000', '2021-06-08T20:23:00.187456000',
       '2021-06-09T20:23:00.187456000', '2021-06-10T20:23:00.187456000',
       '2021-06-11T20:23:00.187456000', '2021-06-12T20:23:00.187456000',
       '2021-06-13T20:23:00.187456000', '2021-06-14T20:23:00.187456000',
       '2021-06-15T20:23:00.187456000', '2021-06-16T20:23:00.187456000',
       '2021-06-17T20:23:00.187456000', '2021-06-18T20:23:00.187456000',
       '2021-06-19T20:23:00.187456000', '2021-06-20T20:23:00.187456000',
       '2021-06-21T20:23:00.187456000', '2021-06-22T20:23:00.187456000',
       '2021-06-23T20:23:00.187456000', '2021-06-24T20:23:00.187456000',
       '2021-06-25T20:23:00.187456000', '2021-06-26T20:23:00.187456000',
       '2021-06-27T20:23:00.187456000', '2021-06-28T20:23:00.187456000',
       '2021-06-29T20:23:00.187456000', '2021-06-30T20:23:00.187456000',
       '2021-07-01T20:23:00.187456000', '2021-07-02T20:23:00.187456000',
       '2021-07-03T20:23:00.187456000', '2021-07-04T20:23:00.187456000',
       '2021-07-05T20:23:00.187456000', '2021-07-06T20:23:00.187456000',
       '2021-07-07T20:23:00.187456000', '2021-07-08T20:23:00.187456000',
       '2021-07-09T20:23:00.187456000', '2021-07-10T20:23:00.187456000',
       '2021-07-11T20:23:00.187456000', '2021-07-12T20:23:00.187456000',
       '2021-07-13T20:23:00.187456000', '2021-07-14T20:23:00.187456000',
       '2021-07-15T20:23:00.187456000', '2021-07-16T20:23:00.187456000',
       '2021-07-17T20:23:00.187456000', '2021-07-18T20:23:00.187456000',
       '2021-07-19T20:23:00.187456000', '2021-07-20T20:23:00.187456000',
       '2021-07-21T20:23:00.187456000', '2021-07-22T20:23:00.187456000',
       '2021-07-23T20:23:00.187456000', '2021-07-24T20:23:00.187456000',
       '2021-07-25T20:23:00.187456000', '2021-07-26T20:23:00.187456000',
       '2021-07-27T20:23:00.187456000', '2021-07-28T20:23:00.187456000',
       '2021-07-29T20:23:00.187456000', '2021-07-30T20:23:00.187456000',
       '2021-07-31T20:23:00.187456000', '2021-08-01T20:23:00.187456000',
       '2021-08-02T20:23:00.187456000', '2021-08-03T20:23:00.187456000',
       '2021-08-04T20:23:00.187456000', '2021-08-05T20:23:00.187456000',
       '2021-08-06T20:23:00.187456000', '2021-08-07T20:23:00.187456000',
       '2021-08-08T20:23:00.187456000', '2021-08-09T20:23:00.187456000',
       '2021-08-10T20:23:00.187456000', '2021-08-11T20:23:00.187456000',
       '2021-08-12T20:23:00.187456000', '2021-08-13T20:23:00.187456000',
       '2021-08-14T20:23:00.187456000', '2021-08-15T20:23:00.187456000',
       '2021-08-16T20:23:00.187456000', '2021-08-17T20:23:00.187456000',
       '2021-08-18T20:23:00.187456000', '2021-08-19T20:23:00.187456000',
       '2021-08-20T20:23:00.187456000', '2021-08-21T20:23:00.187456000',
       '2021-08-22T20:23:00.187456000', '2021-08-23T20:23:00.187456000',
       '2021-08-24T20:23:00.187456000', '2021-08-25T20:23:00.187456000',
       '2021-08-26T20:23:00.187456000', '2021-08-27T20:23:00.187456000',
       '2021-08-28T20:23:00.187456000', '2021-08-29T20:23:00.187456000',
       '2021-08-30T20:23:00.187456000', '2021-08-31T20:23:00.187456000',
       '2021-09-01T20:23:00.187456000', '2021-09-02T20:23:00.187456000',
       '2021-09-03T20:23:00.187456000', '2021-09-04T20:23:00.187456000',
       '2021-09-05T20:23:00.187456000', '2021-09-06T20:23:00.187456000',
       '2021-09-07T20:23:00.187456000', '2021-09-08T20:23:00.187456000',
       '2021-09-09T20:23:00.187456000', '2021-09-10T20:23:00.187456000',
       '2021-09-11T20:23:00.187456000', '2021-09-12T20:23:00.187456000',
       '2021-09-13T20:23:00.187456000', '2021-09-14T20:23:00.187456000',
       '2021-09-15T20:23:00.187456000', '2021-09-16T20:23:00.187456000',
       '2021-09-17T20:23:00.187456000', '2021-09-18T20:23:00.187456000',
       '2021-09-19T20:23:00.187456000', '2021-09-20T20:23:00.187456000',
       '2021-09-21T20:23:00.187456000', '2021-09-22T20:23:00.187456000',
       '2021-09-23T20:23:00.187456000', '2021-09-24T20:23:00.187456000',
       '2021-09-25T20:23:00.187456000', '2021-09-26T20:23:00.187456000',
       '2021-09-27T20:23:00.187456000', '2021-09-28T20:23:00.187456000',
       '2021-09-29T20:23:00.187456000', '2021-09-30T20:23:00.187456000',
       '2021-10-01T20:23:00.187456000', '2021-10-02T20:23:00.187456000',
       '2021-10-03T20:23:00.187456000', '2021-10-04T20:23:00.187456000',
       '2021-10-05T20:23:00.187456000', '2021-10-06T20:23:00.187456000',
       '2021-10-07T20:23:00.187456000', '2021-10-08T20:23:00.187456000',
       '2021-10-09T20:23:00.187456000', '2021-10-10T20:23:00.187456000',
       '2021-10-11T20:23:00.187456000', '2021-10-12T20:23:00.187456000',
       '2021-10-13T20:23:00.187456000', '2021-10-14T20:23:00.187456000',
       '2021-10-15T20:23:00.187456000', '2021-10-16T20:23:00.187456000',
       '2021-10-17T20:23:00.187456000', '2021-10-18T20:23:00.187456000',
       '2021-10-19T20:23:00.187456000', '2021-10-20T20:23:00.187456000',
       '2021-10-21T20:23:00.187456000', '2021-10-22T20:23:00.187456000',
       '2021-10-23T20:23:00.187456000', '2021-10-24T20:23:00.187456000',
       '2021-10-25T20:23:00.187456000', '2021-10-26T20:23:00.187456000',
       '2021-10-27T20:23:00.187456000', '2021-10-28T20:23:00.187456000',
       '2021-10-29T20:23:00.187456000', '2021-10-30T20:23:00.187456000',
       '2021-10-31T20:23:00.187456000', '2021-11-01T20:23:00.187456000',
       '2021-11-02T20:23:00.187456000', '2021-11-03T20:23:00.187456000',
       '2021-11-04T20:23:00.187456000', '2021-11-05T20:23:00.187456000',
       '2021-11-06T20:23:00.187456000', '2021-11-07T20:23:00.187456000',
       '2021-11-08T20:23:00.187456000', '2021-11-09T20:23:00.187456000',
       '2021-11-10T20:23:00.187456000', '2021-11-11T20:23:00.187456000',
       '2021-11-12T20:23:00.187456000', '2021-11-13T20:23:00.187456000',
       '2021-11-14T20:23:00.187456000', '2021-11-15T20:23:00.187456000',
       '2021-11-16T20:23:00.187456000', '2021-11-17T20:23:00.187456000',
       '2021-11-18T20:23:00.187456000', '2021-11-19T20:23:00.187456000',
       '2021-11-20T20:23:00.187456000', '2021-11-21T20:23:00.187456000',
       '2021-11-22T20:23:00.187456000', '2021-11-23T20:23:00.187456000',
       '2021-11-24T20:23:00.187456000', '2021-11-25T20:23:00.187456000',
       '2021-11-26T20:23:00.187456000', '2021-11-27T20:23:00.187456000',
       '2021-11-28T20:23:00.187456000', '2021-11-29T20:23:00.187456000',
       '2021-11-30T20:23:00.187456000', '2021-12-01T20:23:00.187456000',
       '2021-12-02T20:23:00.187456000', '2021-12-03T20:23:00.187456000',
       '2021-12-04T20:23:00.187456000', '2021-12-05T20:23:00.187456000',
       '2021-12-06T20:23:00.187456000', '2021-12-07T20:23:00.187456000',
       '2021-12-08T20:23:00.187456000', '2021-12-09T20:23:00.187456000',
       '2021-12-10T20:23:00.187456000', '2021-12-11T20:23:00.187456000',
       '2021-12-12T20:23:00.187456000', '2021-12-13T20:23:00.187456000',
       '2021-12-14T20:23:00.187456000', '2021-12-15T20:23:00.187456000',
       '2021-12-16T20:23:00.187456000', '2021-12-17T20:23:00.187456000',
       '2021-12-18T20:23:00.187456000', '2021-12-19T20:23:00.187456000',
       '2021-12-20T20:23:00.187456000', '2021-12-21T20:23:00.187456000',
       '2021-12-22T20:23:00.187456000', '2021-12-23T20:23:00.187456000',
       '2021-12-24T20:23:00.187456000', '2021-12-25T20:23:00.187456000',
       '2021-12-26T20:23:00.187456000', '2021-12-27T20:23:00.187456000',
       '2021-12-28T20:23:00.187456000', '2021-12-29T20:23:00.187456000',
       '2021-12-30T20:23:00.187456000', '2021-12-31T20:23:00.187456000',
       '2022-01-01T20:23:00.187456000', '2022-01-02T20:23:00.187456000',
       '2022-01-03T20:23:00.187456000', '2022-01-04T20:23:00.187456000',
       '2022-01-05T20:23:00.187456000', '2022-01-06T20:23:00.187456000',
       '2022-01-07T20:23:00.187456000', '2022-01-08T20:23:00.187456000',
       '2022-01-09T20:23:00.187456000', '2022-01-10T20:23:00.187456000',
       '2022-01-11T20:23:00.187456000', '2022-01-12T20:23:00.187456000',
       '2022-01-13T20:23:00.187456000', '2022-01-14T20:23:00.187456000',
       '2022-01-15T20:23:00.187456000', '2022-01-16T20:23:00.187456000',
       '2022-01-17T20:23:00.187456000', '2022-01-18T20:23:00.187456000',
       '2022-01-19T20:23:00.187456000', '2022-01-20T20:23:00.187456000',
       '2022-01-21T20:23:00.187456000', '2022-01-22T20:23:00.187456000',
       '2022-01-23T20:23:00.187456000', '2022-01-24T20:23:00.187456000',
       '2022-01-25T20:23:00.187456000', '2022-01-26T20:23:00.187456000',
       '2022-01-27T20:23:00.187456000', '2022-01-28T20:23:00.187456000',
       '2022-01-29T20:23:00.187456000', '2022-01-30T20:23:00.187456000',
       '2022-01-31T20:23:00.187456000', '2022-02-01T20:23:00.187456000',
       '2022-02-02T20:23:00.187456000', '2022-02-03T20:23:00.187456000',
       '2022-02-04T20:23:00.187456000', '2022-02-05T20:23:00.187456000',
       '2022-02-06T20:23:00.187456000', '2022-02-07T20:23:00.187456000',
       '2022-02-08T20:23:00.187456000', '2022-02-09T20:23:00.187456000',
       '2022-02-10T20:23:00.187456000', '2022-02-11T20:23:00.187456000',
       '2022-02-12T20:23:00.187456000', '2022-02-13T20:23:00.187456000',
       '2022-02-14T20:23:00.187456000', '2022-02-15T20:23:00.187456000',
       '2022-02-16T20:23:00.187456000', '2022-02-17T20:23:00.187456000',
       '2022-02-18T20:23:00.187456000', '2022-02-19T20:23:00.187456000',
       '2022-02-20T20:23:00.187456000', '2022-02-21T20:23:00.187456000',
       '2022-02-22T20:23:00.187456000'], dtype='datetime64[ns]')

In [40]:
# dates are stored in column
df2 = pd.DataFrame([np.arange(0, len(index),1), pd.date_range(start, end).values]).T
df2.columns = ['num', 'date']
df2

     num                       date
0      0 2021-01-18 20:23:00.187456
1      1 2021-01-19 20:23:00.187456
2      2 2021-01-20 20:23:00.187456
3      3 2021-01-21 20:23:00.187456
4      4 2021-01-22 20:23:00.187456
..   ...                        ...
396  396 2022-02-18 20:23:00.187456
397  397 2022-02-19 20:23:00.187456
398  398 2022-02-20 20:23:00.187456
399  399 2022-02-21 20:23:00.187456
400  400 2022-02-22 20:23:00.187456

[401 rows x 2 columns]

In [47]:
dates = np.concatenate([pd.date_range(start, end).values, pd.date_range(start, end).values])
df3 = pd.DataFrame([np.arange(0, len(dates),1), dates]).T
df3.columns = ['num', 'date']
# df3.shape # (802, 2)
one_year = datetime.now() + timedelta(364)
df3[df3['date'] <= one_year] # 730 rows × 2 columns excellent!

     num                       date
0      0 2021-01-18 20:23:00.187456
1      1 2021-01-19 20:23:00.187456
2      2 2021-01-20 20:23:00.187456
3      3 2021-01-21 20:23:00.187456
4      4 2021-01-22 20:23:00.187456
..   ...                        ...
761  761 2022-01-13 20:23:00.187456
762  762 2022-01-14 20:23:00.187456
763  763 2022-01-15 20:23:00.187456
764  764 2022-01-16 20:23:00.187456
765  765 2022-01-17 20:23:00.187456

[730 rows x 2 columns]

In [48]:
date.today()

datetime.date(2021, 1, 18)