In [4]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html
import pandas as pd
import numpy as np

In [15]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#basics
index = pd.date_range('1/1/2000', periods=8)

1.0622667115198083

In [19]:
s = pd.Series(np.random.randn(5), index=['A', 'B', 'C', 'D', 'E'])
type(s.array) # pandas.core.arrays.numpy_.PandasArray
type(s.to_numpy()) # numpy.ndarray

pandas.core.arrays.numpy_.PandasArray

In [37]:
df = pd.DataFrame(np.random.randn(8,3), index=index, columns=['A', 'B', 'C'])

In [47]:
df.columns = [x.lower() for x in df.columns]
df.index = [10,12,11,15,14,13,16,17]
df.loc[12:13, 'a':'b']
# sort index
# df.sort_index(axis=1, ascending=False) # hm this doesnt work as I expected

# sort values
df.sort_values(by='b', ascending=True)

           c         b         a
10  0.278450  0.421494 -0.260668
12 -2.849506 -2.171939  0.863584
11 -0.945214  0.287479  0.750774
15 -0.483451  2.758405 -0.284375
14  0.404875 -0.640318 -0.364684
13 -0.005626  0.164429  0.355763
16  0.377929 -1.031837  0.189805
17 -0.621840  0.630570  0.831615