In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({ 'k1': ['yek', 'do', 'se'] * 3 + ['se'],
                  'k2': [1,1,2,2,3,3,4,4,4,4]})
df

    k1  k2
0  yek   1
1   do   1
2   se   2
3  yek   2
4   do   3
5   se   3
6  yek   4
7   do   4
8   se   4
9   se   4

In [6]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9     True
dtype: bool

In [7]:
df.drop_duplicates()

    k1  k2
0  yek   1
1   do   1
2   se   2
3  yek   2
4   do   3
5   se   3
6  yek   4
7   do   4
8   se   4

In [8]:
df.drop_duplicates(['k1'])

    k1  k2
0  yek   1
1   do   1
2   se   2

In [9]:
df.drop_duplicates(['k1'], keep='last')

    k1  k2
6  yek   4
7   do   4
9   se   4