In [1]:
import pandas as pd
import numpy as np

In [2]:
mgmt_fees = [61200.00, 59424.00, 57408.00, 56400.00, 55320.00, 53976.00, 52404.00, 51144.00, 49128.00]
mgmt_fees.reverse()
years = np.arange(2011,2020,1)

In [8]:
df = pd.DataFrame(mgmt_fees, index=years, columns=['Management Fees'])
df['mfees_pct_chg'] = df['Management Fees'].pct_change()
df.head()

      Management Fees  mfees_pct_chg
2011          49128.0            NaN
2012          51144.0       0.041036
2013          52404.0       0.024636
2014          53976.0       0.029998
2015          55320.0       0.024900

In [12]:
df = df.fillna(0)
df

      Management Fees  mfees_pct_chg
2011          49128.0       0.000000
2012          51144.0       0.041036
2013          52404.0       0.024636
2014          53976.0       0.029998
2015          55320.0       0.024900
2016          56400.0       0.019523
2017          57408.0       0.017872
2018          59424.0       0.035117
2019          61200.0       0.029887