In [1]:
# https://pandas.pydata.org/pandas-docs/stable/reference/series.html
import pandas as pd
import numpy as np
from datetime import datetime, date

In [16]:
s = pd.Series(['apple', 'orange', 'kiwi', 'tool', 'kekek'], name='stuff')
# s.size # 5
s

0     apple
1    orange
2      kiwi
3      tool
4     kekek
Name: stuff, dtype: object

In [19]:
# s.name # 'stuff'
s.name = 'whatever'
s.name

'whatever'

In [20]:
pd.DataFrame(s)

  whatever
0    apple
1   orange
2     kiwi
3     tool
4    kekek

In [10]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.htmls
s1 = s.map({'apple': 1, 'orange': 666, 'kiwi': 3.14})
s1

0      1.00
1    666.00
2      3.14
3       NaN
4       NaN
dtype: float64

In [24]:
# s1.hasnans # True
s1.fillna('yo')

0       1
1     666
2    3.14
3      yo
4      yo
dtype: object

In [12]:
s1.replace([666, 'yo'], np.nan)

0    1.00
1     NaN
2    3.14
3     NaN
4     NaN
dtype: float64

In [2]:
index = ['f', 'e', 'd', 'c', 'b', 'a']
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan], index=index)
b = pd.Series(np.arange(len(a), dtype=np.float64), index=index)
a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [3]:
b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    5.0
dtype: float64

In [21]:
# filtering with boolean array
a[[True, False, True, False, False, False]]

f   NaN
d   NaN
dtype: float64

In [25]:
np.isnan(a)

f     True
e    False
d     True
c    False
b    False
a     True
dtype: bool

In [29]:
False in pd.isnull(a) == np.isnan(a)

f    False
e     True
d    False
c     True
b     True
a    False
dtype: bool

In [30]:
[True, False] == [True, False]

True

In [33]:
False == pd.Series([True, False])

0    False
1     True
dtype: bool

In [8]:
# get non nan values only
a[~np.isnan(a)]

e    2.5
c    3.5
b    4.5
dtype: float64

In [13]:
# drop nan values
a.dropna()

e    2.5
c    3.5
b    4.5
dtype: float64

In [15]:
# selecting values
b[b % 2 == 0]

f    0.0
d    2.0
b    4.0
dtype: float64

In [16]:
b % 2 == 0

f     True
e    False
d     True
c    False
b     True
a    False
dtype: bool

In [23]:
'f' in b

True

In [4]:
# selecting filtering indexing
obj = pd.Series(np.arange(4.), index=['a','b','c','d'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [8]:
obj[1] == obj['b']

True

In [13]:
obj[1:3]

b    1.0
c    2.0
dtype: float64

In [16]:
# with label-based slicing end point inclusive
obj['b':'c']

b    1.0
c    2.0
dtype: float64

In [14]:
obj[['a','c']]

a    0.0
c    2.0
dtype: float64

In [15]:
obj[obj<2]

a    0.0
b    1.0
dtype: float64

In [18]:
obj[obj<2] = 0
obj

a    0.0
b    0.0
c    2.0
d    3.0
dtype: float64