In [1]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.std.html
# https://www.mathsisfun.com/data/standard-deviation.html
import pandas as pd
import numpy as np

We say the data is **normally distributed**:

The Normal Distribution has:

1. mean = median = mode

2. symmetry about the centre:
    - 50% of values less than the mean
    - and 50% greater than the mean


![normal distribution with mean median mode at center](https://www.mathsisfun.com/data/images/normal-distribution-2.svg)

normal distribution also means that the process of arriving at present state involved a number of multi-choice steps (at least binary). If this pyramid was just one/two levels 'deep'/'high', then balls would be spread more randomly. Also this entails that the shape of the process is a PYRAMID - a branching tree. You start with fewer options and then broaden at each level. 
https://www.mathsisfun.com/data/quincunx.html

The size of quincunx pyramid == the size of its base. choices are binary. Since this is a perfect pyramid (ie you cant have l1 = 1, l2 = 10, it's ln = ln-1 + 1), you are spreading chances, 'thinning' out chances over the base. 

What I talk about above is that if you had a short path to outcome - l1 = 1 and l2 = 10 (meaning l1 produces 10 outcomes right away, and all 10 have a 10% chance), then there will not be a normal distribution. 

Simply put, you have more paths to the centre of the bottom of a perfect pyramid, then to the edges. There are more chances you'll end up in the centre, hence 68% do 'normally' end up in the centre.

**Standard deviation** is a measure of how spread out numbers are
![stdev](https://www.mathsisfun.com/data/images/normal-distrubution-3sds.svg)

**z-score**
Is translating absolute units into units of stdev
[link](https://www.mathsisfun.com/data/standard-normal-distribution.html)
![](https://www.mathsisfun.com/data/images/normal-distrubution-large.svg)

In [2]:
(19.1+15)*2

68.2

In [1]:
(19.1+15+9.2+4.4)*2

95.39999999999999

In [2]:
# std
heights = pd.DataFrame([600, 470, 170, 430, 300], columns=['heights'])
h = heights['heights']
heights['std'] = h.std()
heights

   heights        std
0      600  164.71187
1      470  164.71187
2      170  164.71187
3      430  164.71187
4      300  164.71187

In [5]:
h.mean()

394.0

In [4]:
h.rolling(window=2).std()

0           NaN
1     91.923882
2    212.132034
3    183.847763
4     91.923882
Name: heights, dtype: float64

In [3]:
h[:2].std()

91.92388155425118

In [7]:
heights

   heights        std
0      600  164.71187
1      470  164.71187
2      170  164.71187
3      430  164.71187
4      300  164.71187

In [9]:
# z-score
heights['z'] = (heights['heights'] - heights['heights'].mean())/ heights['heights'].std()
heights

   heights        std         z
0      600  164.71187  1.250669
1      470  164.71187  0.461412
2      170  164.71187 -1.359951
3      430  164.71187  0.218563
4      300  164.71187 -0.570694

In [ ]:
# calc stdev for groups of rows based on column condition
# just slice df[col_condition].std(), then concatenate