In [5]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html
import pandas as pd
import numpy as np

df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])

# COLUMNS
df.columns

# INDEX
df.index
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
# sort by col value, and get the row containing the max 
df.loc[df.sort_values(by=['a'], ascending=False).a.idxmax()]

a    7
b    8
c    9
Name: 2, dtype: int32

In [5]:
# select columns
df.loc[:, ['a','b']]

   a  b
0  1  2
1  4  5
2  7  8

In [6]:
# filter rows by col value
df.loc[(df['a'] > 3) & (df['b'] < 8)]

   a  b  c
1  4  5  6